.irs-line-left {
  background: #66b032;
  width: 60%;
}

.irs-line-mid {
  background: #FFBF00;
}

.irs-line-mid:before {
  content: '';
  background-color: #FF0000;
  position: absolute;
  left: 54%;
  top: 0;
  right: 0;
  bottom: 0;
}

.budget-page .irs-line-right {
  background: #FF0000;
  width: 40%;
}

.budget-page .irs-line-mid {
  width: 0 !important;
}

.irs-bar { 
  background: #FFBF00;
}
